#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

compile '/stylesheets/images/*/' do
end
compile '/stylesheets/*/' do
  # don’t filter or layout
end

compile '/favicon/' do
end

compile '/assets/*/' do
end

compile '/sass/x/*' do
  # sass support files don't compile well w/o all their parts.
end

compile '/sass/*/' do
  filter :sass, :style => :scss
end

compile '/images/*/' do
end

compile '/system_status/' do
end

compile '/javascripts/*/' do
end

compile '*' do
  filter :haml
  layout item[:layout] || 'default'
end

route '/assets/*/' do
  '/' + item[:filename]
end

route '/sass/x/*/' do
  # where ya goin?  nowhere.
end

route '/sass/*/' do
  item.identifier.chop.gsub(/sass/, 'stylesheets') + '.css'
end

route '/stylesheets/images/*/' do
  item.identifier.chop + "." + item[:extension]
end
route '/stylesheets/*/' do
  item.identifier.chop + '.css'
end

route '/javascripts/*/' do
  item.identifier.chop + '.js'
end

route '/favicon/' do
  '/favicon.ico'
end

route '/images/*/' do
  item.identifier.chop + "." + item[:extension]
end

route '/system_status/' do
  item.identifier.chop + '.json'
end

route '*' do
  item.identifier + 'index.html'
end

layout '/partials/*/', :haml
layout '*', :haml
