---
title: About Us
---
%h2 About Start Charlotte
%p
  %em "In the middle of difficulty lies opportunity." &mdash;Einstein
%p
  Start Charlotte is a collection of entrepreneurs, freelance
  consultants, designers, and software developers committed to the
  idea that given enough support, Charlotte can become a haven for
  startup development.
%p
  We are committed to continuing the conversation, promoting and discussing
  startup culture, and helping the freelance and entrepreneurial community
  in Charlotte, NC mature into a cohesive whole.
%p
  For a more details, read
  %a{:href => "/mission/"} our mission detail.
%h3 Our Members and Associates
%ul
  %li
    %em
      Ben Vandgrift (
      %a{:href => "http://twitter.com/bvandgrift"}> @bvandgrift
      ) -
      %a{:href => "http://startcharlotte.com"} StartCLT
    %br/
    Freelance software developer with a wicked startup habit.
  %li
    %em
      Jim Van Fleet (
      %a{:href => "http://twitter.com/bigfleet"}> @bigfleet
      ) -
      %a{:href => "http://itsbspoke.com"} bspoke
    %br/
    Custom web applications designer, Charlotte open-source
    thought-leader, and organizer of and active participant in many
    Charlotte-area technical user groups.
  %li
    %em
      Bermon Painter (
      %a{:href => "http://twitter.com/bermonpainter"}> @bermonpainter
      ) -
      %a{:href => "http://bermonpainter.com"} bermonpainter.com
    %br/
    Freelance web, graphic, and logo designer to the stars, always in the
    leading edge in the growing field of web-based user experience.
  %li
    %em
      Dwayne Waite (
      %a{:href => "http://twitter.com/dwayneWa"}> @dwayneWa
      ) and John Dermott (
      %a{:href => "http://twitter.com/JohnDermott"}> @JohnDermott
      ) -
      %a{:href => "http://thecharlotteagency.com"} JDW: Marketing Madness
    %br/
    Full service marketing firm promoting creative endeavors in the
    Queen City, instrumental in helping promote startup culture and keeping
    us on the map.
  %li
    %em
      Summer Plum (
      %a{:href => "http://twitter.com/Felicitea"}> @Felicitea
      ) -
      %a{:href => "http://felicitea.com"} Felicitea
    %br/
    Massage Therapist and Tea Blender, keeping the membership sane with
    her delicious tea, superhero name, and social networking expertise.
  %li
    %em
      Adam Hunter (
      %a{:href => "http://twitter.com/adamachine"}> @adamachine
      )
    Persistent open source contributor, teaching Ruby and Javascript to
    anyone willing to listen.
