---
title: Member Agreement
---
%h1 Coworking Terms and Member Agreement
%h2 Membership
%p
  Start Charlotte coworking membership does not creates a
  tenancy, but a prepaid usage license to use the provided
  amenities on a monthly basis.  This license may be
  cancelled by either Start Charlotte or the licensee at
  any time.
%h2 Member Conduct
%p
  All members shall adhere to the rules of conduct
  at all times. Failure to do so will result in a stern
  talking-to, and possible revocation of coworking
  privileges.
%p
  These rules can be summarized as follows:
  = succeed "." do
    %i Treat your fellow coworkers with respect
  If you need
  specifics, they follow:
%h3 Quiet Enjoyment
%p
  All members and guests have the right to quiet
  enjoyment and any behavior that breaches this will
  not be condoned.
%h3 Open Environment
%p
  Start Charlotte Coworking is an open space shared
  by many different people and organizations.  Don't say
  or do anything you're not comfortable with everyone
  seeing, or that may make your coworkers uncomfortable.
%h3 Internet / Network Usage
%p
  Be respectful of the bandwidth.  No spam, no illegal
  behavior. Start Charlotte will not monitor the network unless
  we have to.
%h3 No Pets or Bikes
%p
  No pets of any kind.  Bikes can be stored to the left
  of the main entrance on the bike rack.
%h2 Member Responsibilities
%p
  Leave your desk in better shape than you found it. Be
  nice to your fellow coworkers. Pay your bills.  That is all.
%h2 Not So Fine Print
%p
  Coworking membership, and the terms of that membership
  are subject to change pending 30 day notification of the
  membership.  This includes these terms, coworking rates,
  and facility policies.
%h3 Deposit
%p
  No deposit is required to license the Start Charlotte
  coworking facilities.
%h3 Payment
%p
  Payment is due for each month's license, in advance,
  based on the date and license rate you started with.
  An interruption of license will reset the license rate
  to the current rate.  Should the license rate ever
  decrease, all members will be reduced to the new rate
  on their next billing statement.
%h3 Keys
%p
  Some members may be issued keys to the facilities.  These
  keys remain the property of Start Charlotte, LLC, and must be
  returned before a membership is cancelled.  A bond may be
  assessed before keys are issued; if so, that bond will be
  remitted when the keys are returned.
%h3 Liability
%p
  As a member, you agree to hold Start Charlotte, LLC blameless
  for any injury or damage suffered by you or your equipment
  while on the premises.  Conversely, you are responsible for
  any damage done to the property of Start Charlotte, LLC, or any
  other member while present at the coworking facility.
%h3 Renewal and Termination
%p
  Renewal is a privilege, not a right.  All management
  decisions are final, and all payments are non-refundable.
%h3 Conflicts with Other Members
%p This isn't high school.  Work it out like adults.
%h2 Finally
%p
  This space is provided with the understanding that
  scheduled events, environmental effects, and decisions
  by the management of Area 15 may affect your ability
  to use the space.  There are no guarantees of any kind
  concerning available hours, resources, or facilities.
%p We all do the best we can.  Enjoy.
