---
title: Welcome
---
%h1 Welcome
%p
  Whether as an at-large member or coworker, you have elected
  to connect with Start Charlotte.  Thank you, and we hope you
  enjoy your stay.
%h3 Principal
%p
  If you have questions or comments, direct them to Ben Vandgrift,
  (ben(at)startcharlotte.com), or at the phone number listed above.
%h3 Participation
%p
  If there is anything we can do to make your professional life
  better or more productive, we'd love to help.  Just ask.
