body { background-color: #FFF; margin: 0; }
div.wrapper {
width: 500px;
margin: 0px auto 30px;
/*
height: 100%;
width: 100%;
*/
}
body#home div.wrapper { margin-top: 30px; }
div.logo {
background: url(sclt-main-logo.png) 50% 50% no-repeat;
height: 540px;
}
div.logo h1 {
text-indent: -9999px;        
}
div.letterhead {
}
div.letterhead h1 {
background: url(startclt-letterhead.gif) 0px 0px no-repeat;
text-indent: -9999px;        
height: 200px;
float: left;
margin: 0;
}
div.letterhead .contact {
font-family: Geneva, sans-serif;
font-size: 0.9em;
text-align: right;
float: right;
color: #265f88;
padding-top: 20px;
}
div.letterhead .contact span {
color: #98ab3a;
}

div.boilerplate {
text-align: center;
font-family: Geneva, sans-serif;
color: #666;
}
div.boilerplate h2 { color: #666; }
div.copy {
font-family: Geneva, sans-serif;
color: #666;
clear: both;
}
div.copy li em {
  font-size: 1.2em;
}
a, a:visited {
text-decoration: none;
color: #98ab3a;
}
a:hover, a:active {
color: #6fcd4b;
}
div.footer {
color: #265f88;
margin-top: 10px;
font-family: Geneva, sans-serif;
padding-top: 10px;
border-top: 1px solid #666;
}
div.footer .info {float: left; }
div.footer .contact {float: right; text-align: right; color: #98ab3a;}

.links { text-align: right; margin-top: 30px }
.links ul { list-style: none; display: inline; }
.links li { padding-left: 20px; display: inline; }

h1, h2, h3, h4, h5 { color: #265f88; }

/* formspring */
.fsForm td.fsRowBody { padding-left: 0;}
div.fsPagination input {
  font-size: 1.5em;
}
div.fsSubmit {
margin: 10px 0px;
text-align: left;
}
input.fsSubmitButton { 
  background-color: #fff;
  color: #265F88; 
  padding: 10px; 
  -webkit-border-radius: 5px; 
}
div.fsError{ width: 480px; text-align: left; }
